<div id="T8Writer_Overlay">
    <div id="T8Writer_Container">
          <h2 id="T8Writer_Title" style="opacity: 1;">Title</h2>
          <form id="T8Writer_Form">
                <ul id="T8Writer_Documents" style="opacity: 1;"></ul>
                <div id="T8Writer_Contents" contenteditable="true">&#8204</div>
                <p id="T8Writer_Messages" style="opacity: 1;"></p>
          </form>
    </div>
</div>