<div id="T8Writer_Overlay">
	<div id="T8Writer_Container">
		<h2 id="T8Writer_Title" style="opacity: 1;" tabindex="1">Welcome to T8Writer</h2>
		<form id="T8Writer_Form">
			<ul id="T8Writer_Documents" style="opacity: 1;"></ul>
			<div id="T8Writer_Contents" contenteditable="true" tabindex="1">&#8204</div>
			<p id="T8Writer_Messages" style="opacity: 1;"></p>
			<div id="T8Writer_Controls" style="opacity: 1;">
				<h3>Current document:</h3>
				<button id="T8Writer_Save" title="Save the current document" tabindex="3">Save</button>
				<button id="T8Writer_Revert" title="Revert the current document to last save" tabindex="3">Revert</button>
				<button id="T8Writer_Email" class="disabled" title="This feature has not yet been enabled">Email</button>

				<h3>New document:</h3>
				<button id="T8Writer_Create" title="Create a new document" tabindex="3">Create</button>

				<h3>T8Writer:</h3>
				<button id="T8Writer_Help" title="Open help panel" tabindex="3">Help</button>
			</div>
		</form>
		<form id="T8Writer_NewDocument" action="#new">
			<label for="T8Writer_NewDocTitle">What would you like to name your document?</label>
			<input id="T8Writer_NewDocTitle" type="text" value="Untitled 1"/>
			<button id="T8Writer_SubmitTitle" type="submit">Save</button>
		</form>
		<form id="T8Writer_Command" action="#new">
			<label for="T8Writer_CommandPrompt">Type your command and hit enter</label>
			<input id="T8Writer_CommandPrompt" type="text" value=""/>

			<p id="T8Writer_CommandPrompt_Errors"></p>
		</form>
		<button id="exitT8Writer" title="Save and exit T8Writer">x</button>
	</div>
	<div id="T8Writer_HelpInfo">
		<h3>Getting started with T8Writer</h3>
		<h4>Creating your first document:</h4>
		<p>
			To create your first document, simply click inside the blank text area
			or click on the &ldquo;Create&rdquo; button in the lower right. You&rsquo;ll
			be prompted to enter the title of your new document. Just type it in and click
			&ldquo;Submit&rdquo;. The title, which will appear above the text field, is editable.
			Just click on it to edit it at any time.
		</p>
		<h4>Autosave</h4>
		<p>
			T8Writer will automatically save your document every 45 seconds, so that you&rsquo;re work isn&rsquo;t lost.
			Don&rsquo;t worry though: you can always revert your document to the last state that you saved explicitly.
		</p>

		<h3>The command line</h3>
		<p>
			T8writer is all about flow. Since you&rsquo;ll spend most of your time typing, T8Writer
			gives you commands you can type, like &ldquo;save&rdquo;, &ldquo;exit&rdquo;, and &ldquo;revert&rdquo;.
		</p>
		<p>
			To activate the command line, type <kbd>alt</kbd> + <kbd>.</kbd> ; then, type your command and hit <kbd>enter</kbd>.
		</p>
		<p>
			The following is a list of commands available in T8Writer:
		</p>
		<dl>
			<dt>save</dt>
			<dd>Saves the current document. Also sets the state for the next reversion.</dd>

			<dt>revert</dt>
			<dd>Reverts the current document to its state as of the last user&#45;requested save.</dd>

			<dt>create [document title]</dt>
			<dd>Creates a new document with title specified. E.g. &ldquo;create mydocument1&rdquo;.</dd>

			<dt>help</dt>
			<dd>Opens the help panel (what you&rsquo;re reading now).</dd>

			<dt>exit</dt>
			<dd>Saves the current document and exits T8Writer</dd>
		</dl>

		<button id="closeT8WriterHelp" title="Close help" tabindex="1">x</button>
	</div>
</div>