<% documents.each do |document| %>
    <li>
        <a href="#documents/<%= document.id %>/edit" onclick="T8Writer.openDocument(<%= document.id %>);return false;"><%= document.title %></a>
    </li>
<% end %>